# **Analise 1**

Com essa analise é possivel inferir qual a média de vezes que as pessoas parcelaram suas compras com cartão de crédito

### **Importando Bibliotecas**

In [6]:
import pandas as pd
import numpy as np

#### **Tabela forma de pagamento (payment_type)** 
* O arquivo com os dados são tratados na tabela classificada como **forma de pagamento**

In [8]:
forma_pagamento = pd.read_csv('./Files/Dataset_tratado/df_order_payments.csv')

In [9]:
display(forma_pagamento)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

## Agora houve o agrupamento (group by), pela coluna **payment_type**
* Foi calculado a média de X que as pessoas parcelaram suas compras com base na média da coluna **payment_installments**

In [10]:
forma_pagamento=forma_pagamento.groupby("payment_type").agg({
    "payment_installments": 'mean'
}).round(0).astype(int).reset_index()

# Exibir o resultado
display(forma_pagamento)

  payment_type  payment_installments
0       boleto                     1
1  credit_card                     4
2   debit_card                     1
3  not_defined                     1
4      voucher                     1