# **Analise 2**

Com essa analise foi possivel inferir o valor do **ticket médio** gasto, separados por forma de pagamento (debito, credito, boleto, voucher)

### **Importando Bibliotecas**

In [1]:
import pandas as pd
import numpy as np

#### **Tabela forma de pagamento (payment_type)** 
* O arquivo com os dados são tratados na tabela classificada como **forma de pagamento**

In [2]:
media_gasto = pd.read_csv('./Files/Dataset_tratado/df_order_payments.csv')

In [3]:
display(media_gasto)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

## Aqui houve o agrupamento por tipo_pagamento(payment_type) , e calculamos a media da coluna (payment_value)

In [4]:
media_gasto = media_gasto.groupby("payment_type").agg({
    "payment_value": 'mean'
}).round(0).astype(float).reset_index()

# Exibir o resultado
# Como resultados temos o valor do tickt medio nas compras separadas por forma de pagamento
display(media_gasto)

  payment_type  payment_value
0       boleto          145.0
1  credit_card          163.0
2   debit_card          143.0
3  not_defined            0.0
4      voucher           66.0