IMPORTAÇÃO DAS BIBLIOTECAS PANDAS APELIDADAS COMO PD seguindo convencionamento e abertura dataset com a variável dts que receberá os dados

In [2]:
import pandas as pd
import numpy as np


dts = pd.read_csv("C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH/MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/brazilian-ecommerce/olist_sellers_dataset.csv")

In [3]:
dts

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

Resultados obtidos sem a tratativa de padronização no nome da cidade de sao paulo que possui a maior variação de formas escritas dentro do dataframe

In [4]:
dts.columns

Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object')

Título das colunas existentes no DF

In [5]:

# Define as diferentes formas de escrever "Sao Paulo"
diferentes_formas_sao_paulo = ['Sao Paulo', 'São Paulo', 'são paulo', 'SAO PAULO', 'SÃO PAULO', 'sao pulo', 'sp - sp', 'sao paulo - sp', 
                               'sao paulo / sao paulo', 'sao paulop', 'sao paluo', 'sao paulo sp' ]

# Cria uma condição booleana para identificar as linhas que atendem ao critério
condicao = dts['seller_city'].str.lower().isin(diferentes_formas_sao_paulo)

# Substitui os valores na coluna 'seller_city' onde a condição é verdadeira
dts.loc[condicao, 'seller_city'] = 'sao paulo'

# Exibe o DataFrame atualizado
print(dts)

                             seller_id  seller_zip_code_prefix  \
0     3442f8959a84dea7ee197c632cb2df15                   13023
1     d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2     ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3     c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4     51a04a8a6bdcb23deccc82b0b80742cf                   12914
...                                ...                     ...
3090  98dddbc4601dd4443ca174359b237166                   87111
3091  f8201cab383e484733266d1906e2fdfa                   88137
3092  74871d19219c7d518d0090283e03c137                    4650
3093  e603cf3fec55f8697c9059638d6c8eb5                   96080
3094  9e25199f6ef7e7c347120ff175652c3b                   12051

            seller_city seller_state
0              campinas           SP
1            mogi guacu           SP
2        rio de janeiro           RJ
3             sao paulo           SP
4     braganca paulista           SP
...                 ...          ...
3090            sarandi           PR
3091            palhoca           SC
3092          sao paulo           SP
3093            pelotas           RS
3094            taubate           SP

[3095 rows x 4 columns]

No frame acima temos as condições que substituem apenas os valores presentes na variável diferentes_formas_de_sao_paulo para uma única forma padrão

In [ ]:

# salvar dataframe em novo arquivo csv com as alterações necessárias e na pasta destinada aos arquivos csv especificados em path 
dts.to_csv('C:/Users/leopo/OneDrive/Documentos/KORU IFOOD POTENCIA TECH/MOD3 BIG DATA PYTHON E PYSPARK/download_datasets/olist_sellers_dataset_cidade_tratado', index=False)