Aqui foi feita a instalação do unidecode:

In [2]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\ticam\appdata\local\programs\python\python311\lib\site-packages (1.3.7)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Aqui importei o Pandas.

In [3]:
import pandas as pd
import numpy as np
from unidecode import unidecode

Aqui eu trouxe a tabela para o Pandas e assim iniciar a limpeza.

In [4]:

df_avaliacoes = pd.read_csv(r"C:\Users\ticam\OneDrive\Área de Trabalho\Projeto ifood\Projeto_BigData\Paulo\brazilian_ecommerce\olist_order_reviews_dataset.csv")

# print do arquivo

print(df_avaliacoes)

                              review_id                          order_id  \
0      7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1      80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2      228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3      e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4      f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1
...                                 ...                               ...
99219  574ed12dd733e5fa530cfd4bbf39d7c9  2a8c23fee101d4d5662fa670396eb8da
99220  f3897127253a9592a73be9bdfdf4ed7a  22ec9f0669f784db00fa86d035cf8602
99221  b3de70c89b1510c4cd3d0649fd302472  55d4004744368f5571d1f590031933e4
99222  1adeb9d84d72fe4e337617733eb85149  7725825d039fc1f0ceb7635e3f7d9206
99223  efe49f1d6f951dd88b51e6ccd4cc548f  90531360ecb1eec2a1fbb265a0db0508

       review_score review_comment_title  \
0                 4                  NaN
1                 5                  NaN
2                 5                  NaN
3                 5                  NaN
4                 5                  NaN
...             ...                  ...
99219             5                  NaN
99220             5                  NaN
99221             5                  NaN
99222             4                  NaN
99223             1                  NaN

                                  review_comment_message review_creation_date  \
0                                                    NaN  2018-01-18 00:00:00
1                                                    NaN  2018-03-10 00:00:00
2                                                    NaN  2018-02-17 00:00:00
3                  Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4      Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00
...                                                  ...                  ...
99219                                                NaN  2018-07-07 00:00:00
99220                                                NaN  2017-12-09 00:00:00
99221  Excelente mochila, entrega super rápida. Super...  2018-03-22 00:00:00
99222                                                NaN  2018-07-01 00:00:00
99223  meu produto chegou e ja tenho que devolver, po...  2017-07-03 00:00:00

      review_answer_timestamp
0         2018-01-18 21:46:59
1         2018-03-11 03:05:13
2         2018-02-18 14:36:24
3         2017-04-21 22:02:06
4         2018-03-02 10:26:53
...                       ...
99219     2018-07-14 17:18:30
99220     2017-12-11 20:06:42
99221     2018-03-23 09:10:43
99222     2018-07-02 12:59:13
99223     2017-07-03 21:01:49

[99224 rows x 7 columns]

Aqui pedi informações do DataFrame

In [5]:
df_avaliacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

Aqui a descrição

In [6]:
df_avaliacoes.describe(include = object)

,review_id,order_id,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
count,99224,99224,11568,40977,99224,99224
unique,98410,98673,4527,36159,636,98248
top,7b606b0d57b078384f0b58eac1d41d78,c88b1d1b157a9999ce368f218a407141,Recomendo,Muito bom,2017-12-19 00:00:00,2017-06-15 23:21:05
freq,3,3,423,230,463,4

Aqui tambem foi descrição e médias

In [8]:
df_avaliacoes.describe()

       review_score
count  99224.000000
mean       4.086421
std        1.347579
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

viazualização das colunas para limpeza

In [10]:
df_avaliacoes.columns.values

array(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'], dtype=object)

Contagem das colunas

In [9]:
df_avaliacoes.columns.values
df_avaliacoes

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

Aqui foi feita a criação de duas colunas atraves da coluna review_creation_date

In [11]:
df_avaliacoes[['review_creation_date', 'review_creation_hour']] = df_avaliacoes['review_creation_date'].str.split(' ', expand=True)
df_avaliacoes

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_creation_hour
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59,00:00:00
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13,00:00:00
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24,00:00:00
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06,00:00:00
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53,00:00:00
...,...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07,2018-07-14 17:18:30,00:00:00
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09,2017-12-11 20:06:42,00:00:00
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23 09:10:43,00:00:00
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01,2018-07-02 12:59:13,00:00:00
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49,00:00:00

Aqui foi feita a criação de duas colunas atraves da coluna eview_answer_timestamp

In [12]:
df_avaliacoes[['review_answer_date', 'review_answer_hour']] = df_avaliacoes['review_answer_timestamp'].str.split(' ', expand=True)
df_avaliacoes

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_creation_hour,review_answer_date,review_answer_hour
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59,00:00:00,2018-01-18,21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13,00:00:00,2018-03-11,03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24,00:00:00,2018-02-18,14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06,00:00:00,2017-04-21,22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53,00:00:00,2018-03-02,10:26:53
...,...,...,...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07,2018-07-14 17:18:30,00:00:00,2018-07-14,17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09,2017-12-11 20:06:42,00:00:00,2017-12-11,20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22,2018-03-23 09:10:43,00:00:00,2018-03-23,09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01,2018-07-02 12:59:13,00:00:00,2018-07-02,12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,2017-07-03 21:01:49,00:00:00,2017-07-03,21:01:49

Aqui foi feito a exclusão da coluna

In [25]:
df_avaliacoes.drop('review_answer_timestamp', axis=1)

KeyError: "['review_answer_timestamp'] not found in axis"

Contagem de colunas, alem da separação e exclusão da coluna "shipping_limit_date" para as colunas "date" e "time"

In [26]:
df_avaliacoes.columns.values
df_avaliacoes

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_creation_hour,review_answer_date,review_answer_hour
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,00:00:00,2018-01-18,21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,00:00:00,2018-03-11,03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,00:00:00,2018-02-18,14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,00:00:00,2017-04-21,22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,00:00:00,2018-03-02,10:26:53
...,...,...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07,00:00:00,2018-07-14,17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09,00:00:00,2017-12-11,20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22,00:00:00,2018-03-23,09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01,00:00:00,2018-07-02,12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03,00:00:00,2017-07-03,21:01:49

Conferindo para ver se as colunas estão corretas

In [27]:
df_avaliacoes.columns.values

array(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_creation_hour', 'review_answer_date', 'review_answer_hour'],
      dtype=object)

Esse código serve para contar o numero de itens e tambem o NaN, caso haja

In [31]:
columns_to_count = ['review_comment_title']

value_counts = df_avaliacoes[columns_to_count].value_counts(dropna=False)

print(value_counts)

review_comment_title
NaN                     87656
Recomendo                 423
recomendo                 345
Bom                       293
super recomendo           270
                        ...
CAPA VIOLAO                 1
Não funciona                1
Não funcionou               1
CAPA DE COLCHÃO             1
Parabeniza                  1
Name: count, Length: 4528, dtype: int64

Esse código serve para contar o numero de itens e tambem o NaN, caso haja

In [32]:
columns_to_count = ['review_comment_message']

value_counts = df_avaliacoes[columns_to_count].value_counts(dropna=False)

print(value_counts)

review_comment_message
NaN                                                                                58247
Muito bom                                                                            230
Bom                                                                                  189
muito bom                                                                            122
bom                                                                                  107
                                                                                   ...
Gostei muito agradecido                                                                1
Gostei muito .. está de parabéns 👏👏👏 Recomendo a loja..TOP                             1
Gostei muito .                                                                         1
Gostei muito ,vale a pena confiar.!                                                    1
O produto chegou antes do que imaginei. Até me surpreendi. A lannister é ótima!        1
Name: count, Length: 36160, dtype: int64

In [ ]:
Definição das colunas

In [33]:
avaliacoees = df_avaliacoes.filter(items=['order_id', 'order_item_id', 'product_id', 'seller_id', 'price',
       'freight_value', 'date_id', 'time_id'])

Aqui foi feito a esportação em csv

In [37]:
df_avaliacoes.to_csv(r"C:\Users\ticam\OneDrive\Área de Trabalho\Projeto ifood\Projeto_BigData\Paulo\Dados analisados\csv_olist_order_reviews_dataset.csv")

print(df_avaliacoes)

                              review_id                          order_id  \
0      7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1      80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2      228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3      e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4      f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1
...                                 ...                               ...
99219  574ed12dd733e5fa530cfd4bbf39d7c9  2a8c23fee101d4d5662fa670396eb8da
99220  f3897127253a9592a73be9bdfdf4ed7a  22ec9f0669f784db00fa86d035cf8602
99221  b3de70c89b1510c4cd3d0649fd302472  55d4004744368f5571d1f590031933e4
99222  1adeb9d84d72fe4e337617733eb85149  7725825d039fc1f0ceb7635e3f7d9206
99223  efe49f1d6f951dd88b51e6ccd4cc548f  90531360ecb1eec2a1fbb265a0db0508

       review_score review_comment_title  \
0                 4                  NaN
1                 5                  NaN
2                 5                  NaN
3                 5                  NaN
4                 5                  NaN
...             ...                  ...
99219             5                  NaN
99220             5                  NaN
99221             5                  NaN
99222             4                  NaN
99223             1                  NaN

                                  review_comment_message review_creation_date  \
0                                                    NaN           2018-01-18
1                                                    NaN           2018-03-10
2                                                    NaN           2018-02-17
3                  Recebi bem antes do prazo estipulado.           2017-04-21
4      Parabéns lojas lannister adorei comprar pela I...           2018-03-01
...                                                  ...                  ...
99219                                                NaN           2018-07-07
99220                                                NaN           2017-12-09
99221  Excelente mochila, entrega super rápida. Super...           2018-03-22
99222                                                NaN           2018-07-01
99223  meu produto chegou e ja tenho que devolver, po...           2017-07-03

      review_creation_hour review_answer_date review_answer_hour
0                 00:00:00         2018-01-18           21:46:59
1                 00:00:00         2018-03-11           03:05:13
2                 00:00:00         2018-02-18           14:36:24
3                 00:00:00         2017-04-21           22:02:06
4                 00:00:00         2018-03-02           10:26:53
...                    ...                ...                ...
99219             00:00:00         2018-07-14           17:18:30
99220             00:00:00         2017-12-11           20:06:42
99221             00:00:00         2018-03-23           09:10:43
99222             00:00:00         2018-07-02           12:59:13
99223             00:00:00         2017-07-03           21:01:49

[99224 rows x 9 columns]