In [3]:
pip install unidecode

Collecting unidecode
  Obtaining dependency information for unidecode from https://files.pythonhosted.org/packages/e4/63/7685ef40c65aba621ccd2524a24181bf11f0535ab1fdba47e40738eacff6/Unidecode-1.3.7-py3-none-any.whl.metadata
  Downloading Unidecode-1.3.7-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.3.7-py3-none-any.whl (235 kB)
   ---------------------------------------- 0.0/235.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/235.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/235.5 kB ? eta -:--:--
   - -------------------------------------- 10.2/235.5 kB ? eta -:--:--
   ---------- ---------------------------- 61.4/235.5 kB 544.7 kB/s eta 0:00:01
   -------------------------------------- - 225.3/235.5 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 235.5/235.5 kB 1.3 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.3.7
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
import numpy as np
from unidecode import unidecode

In [19]:
# Seleção do arquivo

unidades = pd.read_csv(r"C:\Users\ticam\OneDrive\Área de Trabalho\Projeto ifood\Projeto_BigData\Well\brazilian_ecommerce\olist_order_items_dataset.csv")

# print do arquivo

print(unidades)

                                order_id  order_item_id  \
0       00010242fe8c5a6d1ba2dd792cb16214              1
1       00018f77f2f0320c557190d7a144bdd3              1
2       000229ec398224ef6ca0657da4fc703e              1
3       00024acbcdf0a6daa1e931b038114c75              1
4       00042b26cf59d7ce69dfabb4e55b4fd9              1
...                                  ...            ...
112645  fffc94f6ce00a00581880bf54a75a037              1
112646  fffcd46ef2263f404302a634eb57f7eb              1
112647  fffce4705a9662cd70adb13d4a31832d              1
112648  fffe18544ffabc95dfada21779c9644f              1
112649  fffe41c64501cc87c801fd61db3f6244              1

                              product_id                         seller_id  \
0       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1       e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2       c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3       7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4       ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87
...                                  ...                               ...
112645  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c
112646  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182
112647  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53
112648  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79
112649  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1

        shipping_limit_date   price  freight_value
0       2017-09-19 09:45:35   58.90          13.29
1       2017-05-03 11:05:13  239.90          19.93
2       2018-01-18 14:48:30  199.00          17.87
3       2018-08-15 10:10:18   12.99          12.79
4       2017-02-13 13:57:51  199.90          18.14
...                     ...     ...            ...
112645  2018-05-02 04:11:01  299.99          43.41
112646  2018-07-20 04:31:48  350.00          36.53
112647  2017-10-30 17:14:25   99.90          16.95
112648  2017-08-21 00:04:32   55.99           8.72
112649  2018-06-12 17:10:13   43.00          12.79

[112650 rows x 7 columns]

In [20]:
unidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [21]:
unidades.describe(include = object)

,order_id,product_id,seller_id,shipping_limit_date
count,112650,112650,112650,112650
unique,98666,32951,3095,93318
top,8272b63d03f5f79c56e9e4120aec44ef,aca2eb7d00ea1a7b8ebd4e68314663af,6560211a19b47992c3666cc44a7e94c0,2017-07-21 18:25:23
freq,21,527,2033,21

In [22]:
unidades.describe()

       order_item_id          price  freight_value
count  112650.000000  112650.000000  112650.000000
mean        1.197834     120.653739      19.990320
std         0.705124     183.633928      15.806405
min         1.000000       0.850000       0.000000
25%         1.000000      39.900000      13.080000
50%         1.000000      74.990000      16.260000
75%         1.000000     134.900000      21.150000
max        21.000000    6735.000000     409.680000

In [23]:
unidades.columns.values

array(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'], dtype=object)

In [24]:
unidades['price'].value_counts()

price
59.90      2481
69.90      1987
49.90      1953
89.90      1548
99.90      1432
           ...
1369.90       1
108.24        1
1224.99       1
24.52         1
736.00        1
Name: count, Length: 5968, dtype: int64

In [34]:
# Seleção de colunas
unidades.columns.values

array([], dtype=object)

In [35]:
# Código de definição de colunas

unidades = unidades.filter(items=['order_id', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value'])

In [36]:
# Substituir células vazias por NaN
unidades_sem_celulas_vazias = unidades.replace("", pd.NA)

# Remover linhas com células vazias
unidades_sem_celulas_vazias = unidades_sem_celulas_vazias.dropna()

# Mostrar a contagem de valores não nulos após a remoção
print("\nValores não nulos APÓS a remoção:")
print(unidades_sem_celulas_vazias.count())

# Comparar a diferença na contagem de valores não nulos
diferenca = unidades.count() - unidades_sem_celulas_vazias.count()
print("\nDiferença na contagem de valores não nulos:")
print(diferenca)

Valores não nulos APÓS a remoção:
Series([], dtype: int64)

Diferença na contagem de valores não nulos:
Series([], dtype: int64)