In [1]:
import pandas as pd
import numpy as np

## Carregamento dos arquivos .csv via url
Para faciliar o carregamento dos arquivos, de primeiro momento será feito via "url".

Quando estiver definido a cédula com o código de descarga e carregamento dos arquivos, basta apenas acrescentar uma célula acima e substituir o nome do "link" que está em *pd.read_csv(link)* que está logo mais abaixo.

In [2]:
csv_olist_geolocation_dataset = "https://raw.githubusercontent.com/Wellitiz/Projeto_BigData/main/dataset/olist_geolocation_dataset.csv"

In [3]:
df = pd.read_csv(csv_olist_geolocation_dataset)
df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS